<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <lable for="name">Enter name: </lable>
    <input type="text" th:field="*{name}" id ="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">VALUE</div>
    <br />
    <lable for="age">Enter age:</lable>
    <input type="text" th:field="*{age}" id="age" />
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">VALUE</div>
    <br />
    <lable for="email">Enter email:</lable>
    <input type="text" th:field="*{email}" id="email" />
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">VALUE</div>
    <br />
    <input type="submit" value="Update!">
</form>
</body>
</html>